/* NORMALIZE */

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

/* GLOBAL */

body {
    font-family: Helvetica;
    font-size: 16 px;
    color: #666666;
}

/* MENU */

div.menu {
	width: 100%;
	height: 40 px;
	background-color: #333333;
	color: #eeeeee;
	overflow: hidden;
}

div.menu a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #999999;
}

div.menu a:hover {
	color: #ffffff;
}

div.menu a.first {
	color: #1e9184;
	padding-right: 100px;
}

div.menu ul.main {
	height: 39px;
}

div.menu ul.main li {
	float: left;
	display: inline;
	border-right: 1px solid #999999;
	background-color: #333333;
}

div.menu form {
	padding: 10px;
}

/* ADMIN MENU */

div.admin-menu {
	width: 100%;
	height: 40 px;
    border-top: 1px solid #999999;
	background-color: #666666;
	color: #eeeeee;
	overflow: hidden;
}

div.admin-menu ul.admin-main li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #eeeeee;
}

div.admin-menu ul.admin-main li a:hover {
	color: #000000;
}

div.admin-menu ul.admin-main {
	height: 39px;
}

div.admin-menu ul.admin-main li {
	float: left;
	display: inline;
	border-right: 1px solid #999999;
	background-color: #666666;
}

/* CONTENT */

div.content {
	clear: both;
	padding: 20px;
	line-height: 150%;
}

/*div.content form {
	width:400px;
}*/

h1, h2, h3 {
	margin-bottom: 15px;
}

ul.cart {
	margin-left: 20px;
}

p {
	margin-bottom: 10px;
}

.error {
	margin: 15px;
	text-align: center;
	width: 400px;
	padding: 10px;
	background: #fdd5d3;
	border: 1px solid #f26a63;
}

.success {
	margin: 15px;
	text-align: center;
	width: 400px;
	padding: 10px;
	background: #d4fcd9;
	border: 1px solid #6af263;
}

div.content a {
	color: #1e9184;
	text-decoration: none;
	font-weight: bold;
}

div.content a:hover {
	color: #f6b546;
	text-decoration: underline;
}

hr {
	height: 1px;
	background: #1e9184;
	border: 0;
	margin: 20px 0px;
}

button {
	border-radius: 5px;
	border: 0px;
	background: #999999;
	padding: 5px;
	color: #ffffff;
	margin: 0px 5px;
}

button:hover {
	color: #ffffff;
	text-decoration: none;
	background: #f6b546;
}

/* SHOPPING CART */

div.cart {
	width: 600px;
}

div.cart form {
	width: 600px;
}

div.cart label {
	margin-right: 10px;
}

div.cart input {
	float: right;
}

div.cart input.qty {
	width: 20px;
	float: none;
}

div.cart li {
	float: left;
	display: inline;
	padding-left: 10px;
}

div.cart li.first {
	width: 250px;
	padding-left: 0 px;
}

/* CREDIT CARD */

div.ccinfo label, div.ccinfo input {
	margin: 10px;
}

div.ccinfo label {
	width: 150px;
	text-align: right;
}

div.content a.addToCart {
	border-radius: 5px;
	background: #999999;
	padding: 5px;
	color: #ffffff;
	font-size: 14px;
	vertical-align: middle;
}

div.content a.addToCart:hover {
	color: #ffffff;
	text-decoration: none;
	background: #f6b546;
}

/* BROSWE */

ul.browse li {
	position: relative;
	display: inline;
}

ul.browse li a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
}

ul.browse li:hover a {
	background: #999999;
	color: #ffffff;
}

ul.browse li ul.sub-browse {
	position: absolute;
	top: 22px;
	left: 0px;
	display: none;
	background: #999999;
	width: 200px;
}

ul.browse li:hover ul {
	display: block;
}

ul.browse ul.sub-browse li {
	display: list-item;
}

ul.browse ul.sub-browse a {
	display: block;
}

ul.browse ul.sub-browse a:hover {
	background: #f6b546;
}

/* LIST RESULTS */

div.list-results {
	width: 850px;
}

div.list-results h2, div.list-results hr {
	clear: both;
}

div.content div.list-results hr {
	border: 0px;
	margin-top: 30px;
}

div.list-results img {
	float: left;
	margin-bottom: 20px;
}

div.list-results div.info {
	float: left;
	width: 600 px;
}

/* MOVIE DETAILS */

div.editing {
	border: 1px solid #FFD726;
	background: #FCEDA7;
	padding: 5 px;
	margin: 10px;
	text-align: center;
}

div.movie-detail {
	width: 850 px;
}

div.movie-detail a {
	position: relative;
}

div.movie-detail a img.star {
	display: none;
}

div.movie-detail a:hover img.star {
	position: absolute;
	top: 0px;
	left: 200px;
	display: block;
	z-index: 3;
}

div.movie-detail div.info {
	float: left;
	width: 600 px;
}

div.info li {
	display: block;
}

div.movie-detail img {
	clear: left;
	float: left;
}

div.info ul li:nth-child(odd) {
	clear: left;
	float: left;
	width: 150px;
	text-align: right;
	padding-right: 10px;
}

div.info ul li:nth-child(even) {
	clear: right;
	float: right;
	width: 440px;
}

div.info ul {
	clear: both;
}

div.info ul.list li {
	width: 100%;
	display: list-item;
	text-align: left;
	float: left;
}

/* STAR DETAILS */

div.star-detail {
	border: 1px solid green;
	width: 800 px;
}

/* ADD MOVIE */

div.content div.add-movie form {
	width: 400px;
}

div.content div.add-movie input {
	clear: right;
	width: 240px;
	float: right;
}

div.content div.add-movie label {
	clear: left;
	display: block;
	float: left;
	width: 140px;
	text-align: right;
	margin-bottom: 5px;
}

div.content div.add-movie p {
	clear: both;
}

div.content div.add-movie button {
	clear: both;
	float: right;
}
